@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --highlight: #e20e8d;
  --background: #030518;
  --white: #eeeeee;

  --container: 100rem;

  --small: 1.5rem;
  --medium: 3rem;
  --large: 5rem;
}

html,
body {
  background: var(--background);
  color: var(--white);
}

p {
  font-size: 2rem;
  line-height: var(--medium);
}

a {
  color: var(--highlight);
}
